.footer {
    background-color: $gray-1;
    margin-top: 100px;
    padding: 20px 0;

    .container {
        display: flex;
        align-items: center;
    }

    nav {
        display: none;
        ul {
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;

                a {
                    color: $gray-3;
                    font-family: $opensans;
                    font-weight: 200;
                    font-size: 15px;
                    margin: 0 10px;
                }
            }
        }
    }

    &__madeby {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        p {
            margin: 0 5px 0 0;
            color: $gray-3;
            font-family: $opensans;
            font-weight: 200;
            font-size: 12px;
        }

        img {
            width: 50px;
        }
    }
}

@media (min-width: 992px) {
    .footer {
        nav {
            display: flex;
        }

        &__madeby {
            justify-content: flex-end;
        }
    }
}