.main-services {
    background-color: $white;
    box-shadow: 0px 3px 27px rgba($color: #000000, $alpha: 0.1);
    border-radius: 10px;
    margin: 100px 0px 0px 0px;
    padding: 50px 30px;

    h1 {
        color: $gray-3;
        font-family: $poppins;
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 700;
    }

    &__block:nth-of-type(1) {
        border-right: 1px solid $gray-1;
    }

    &__block:nth-of-type(2) {
        border-right: 1px solid $gray-1;
    }

    &__block {
        margin-top: 10px;
        h5 {
            font-family: $poppins;
            color: $gray-3;
            font-size: 20px;
            text-align: center;
        }

        ul {
            padding: 0;
            margin: 15px 0 0 0;
            list-style: none;

            li {
                p {
                    text-align: center;
                    margin: 5px;
                    font-size: 15px;
                    color: $gray-2;
                    font-weight: 200;
                }
            }
        }
    }
}