.home__reviews {
    margin-top: 200px;
    &--title {
        display: flex;
        position: relative;
        opacity: 0;
        left: -200px;
        transition: ease-in-out 0.5s;

        h1 {
            width: 100%;
            font-family: $poppins;
            color: $gray-3;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
        }
    }

    &--cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 50px;
    }
}

@media (min-width: 992px) {
    .home__reviews {
        &--title {
            display: flex;
            align-items: center;

            h1 {
                text-align: left;
            }

            span {
                width: 1px;
                background: $red;
                height: 270px;
                border-radius: 10px;
                margin-right: 50px;
            }
        }
    }
}

.title-appear {
    opacity: 1 !important;
    left: 0 !important;
}