.home__reviews {
    margin-top: 200px;
    padding: 0 30px;

    &--title {
        display: flex;

        h1 {
            width: 100%;
            font-family: $poppins;
            color: $gray-3;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
        }
    }

    &--cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 50px;
    }
}

@media (min-width: 992px) {
    .home__reviews {
        padding: 0 100px;

        &--title {
            display: flex;
            align-items: center;

            h1 {
                text-align: left;
            }

            span {
                width: 1px;
                background: $red;
                height: 270px;
                border-radius: 10px;
                margin-right: 50px;
            }
        }
    }
}